.card-teste{
    background-color: #dadada;
}

.img-card {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.texto-card {
    background: #37414c;
    color: #EB9D30;
    font-size: 20px;
}

.texto-card1 {
    color: #173247 !important;
}

.texto-card2 {
    color: #EBC500;
}

.texto-card3 {
    color: #FF8F00;
}

.texto-card4 {
    color: #F04601;
}