.formulario {
    margin-top:10%;
    background-color: #FAFAFA
}

.cont-lista{
    background-color: #FAFAFA;
    margin-top:10%;
}

.lista-in{
    margin-top: 7px;
}

.action{
    width: 25%;
    height: 20%;
    

}