/*
    DEMO STYLE
*/

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.cliente{         
    width: 10px;
    height:30px;
    margin-top: 15px; 
    padding-top: 3px;       
}
.cliente2{         
   
    width: 10px;
    height:30px;
    margin-top: 18px;   
    padding-top:3px; 
}
.page-header{
   font-family: Georgia, 'Times New Roman', Times, serif;
   margin-top: 10px;
 
}

.cabeçalho{
    margin-top: 40px;
    border-top: 1px solid gray;
    
}

textarea {
    resize: none;
 }