@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: black;
}

.formulario {
    margin-top:25px;
    background-color: #FAFAFA
}

.cont-lista{
    background-color: #FAFAFA;
    margin-top:40px;
}

.lista-in{
    margin-top: 7px;
}

.action{
    width: 25%;
    height: 20%;
}

.buttonadd{
    display: flex;
    justify-content: space-between
}

textarea{
    resize: none;
}